body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #0F0F1A;
    display: flex;
    justify-content: center;
    color: #F5F5FF;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
}

.sidebar, .widgets {
    width: 20%;
    padding: 20px;
}

.feed {
    width: 60%;
    padding: 20px;
}

.post-box {
    background: #1e1c2b;
    padding: 10px;
    border-radius: 8px;
}

.post-box textarea {
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    background: #2f2e45;
    color: #F5F5FF;
    border-radius: 8px;
}

.post-box button {
    display: block;
    margin-top: 10px;
    background: #6B3DF0;
    color: #F5F5FF;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post {
    background: #2f2e45;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
}

.widgets{
    color: #F5F5FF;
}

.sidebar{
    color: #F5F5FF;
}

.sidebar ul li a{
    text-decoration: none;
    color: #F5F5FF;
}