<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick</title>
    <link rel="stylesheet" href="../static/profile.css">
</head>
<body>
    <h2>{{ username }}</h2>

    <main class="profile-feed">
        {% for user in users %}
            {% for post in posts %}
                <div class="post">
                    <h3>{{ post.user.username }}</h3>
                    <p>{{ post.content }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </main>
</body>
</html>